body {
  font-family: arial, sans-serif;
  background-color: rgb(0, 0, 0);
  cursor: url("https://64.media.tumblr.com/tumblr_m2ulxlXbRy1qfamg6.gif"), auto;
}

h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 100;
  line-height: 28px;
  margin: 5px;
  z-index: 9999;
  position: relative;
}

h2 {
  color: black;
  font-size: 20px;
  position: relative;
  z-index: 9999;
}
ul {
  margin: 0 0 10px;
  padding: 0;
  line-height: 1.5;
}

li {
  color: #ffffff;
  margin-top: 1px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  position: relative;
  border: 1px solid #dadde1;
  padding: 90px;
  margin: 90px auto;
  border-radius: 30px;
  max-width: 860px;
  overflow: hidden;
  box-shadow: -1px 10px 62px 15px rgb(34, 107, 153);
  cursor: url("https://64.media.tumblr.com/tumblr_m2ulxlXbRy1qfamg6.gif"), auto;
}
.weather-app video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#date {
  color: rgb(255, 255, 255);
  font-size: 16px;
  position: relative;
  z-index: 9999;
  top: -60px;
  left: -40px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  font-family: "Prata", sans-serif;
}

#date:hover {
  transition: all 200ms ease;
  color: #000000;
}
#hour {
  color: black;
  font-size: 16px;
  position: relative;
  z-index: 9999;
  top: -60px;
  right: -520px;
  font-size: 50px;
  text-shadow: 1px 1px 10px rgba(252, 252, 252, 0.6);
  font-family: "Prata", sans-serif;
}
#hour:hover {
  transition: all 200ms ease;
  color: #ffffff;
}
#city {
  color: #ffffff;
  font-size: 32px;
  font-weight: 100;
  line-height: 28px;
  margin: 25px;
  z-index: 9999;
  position: relative;
  text-transform: capitalize;
  text-align: left;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  font-family: "Prata", sans-serif;
  margin-bottom: 30px;
}

#city:hover {
  transition: all 200ms ease;
  color: #000000;
  text-shadow: 1px 1px 10px rgba(252, 252, 252, 0.6);
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 90px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(252, 252, 252, 0.6);
  font-family: "Prata", sans-serif;
  position: relative;
  bottom: -30px;
  right: -50px;
}
.temperature:hover {
  transition: all 200ms ease;
  color: #ffffff;
}
.units .active {
  color: rgb(255, 255, 255);
  cursor: default;
  text-shadow: 1px 1px 10px rgba(252, 252, 252, 0.6);
}
.units .active:hover {
  text-decoration: none;
}
.units {
  position: relative;
  top: -27px;
  right: -56px;
  color: #fff;
}

.search-form {
  padding: 0px;
  margin-bottom: -30px;
  position: relative;
  top: -27px;
  font-family: "Prata", sans-serif;
}

#geolocationPin {
  position: relative;
  right: -150px;
  top: -37px;
  cursor: pointer;
  padding: 0px;
}

.weather {
  text-align: justify;
  margin-left: 10px;
  position: relative;
  top: -50px;
  right: -20px;
}

.weatherInfo {
  font-size: small;
  font-family: "Prata", sans-serif;
  position: relative;
  right: -40px;
  font-size: 14px;
}

.weatherInfo:hover {
  text-shadow: 1px 1px 10px rgba(252, 252, 252, 0.6);
  transition: all 200ms ease;
}
#humidity {
  margin-bottom: 13px;
}
#windSpeed {
  margin-bottom: 13px;
}
#weatherInformation {
  line-height: 1.5;
}

#moonphase {
  position: relative;
  left: -50px;
  text-align: center;
  font-family: "Prata", sans-serif;
}
#moon {
  position: relative;
  left: -55px;
  text-align: center;
  font-family: "Prata", sans-serif;
}

#moon:hover {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.849);
}
#sunrise {
  font-family: "Prata", sans-serif;
  font-size: 13px;
  position: relative;
  right: -4px;
}

#sunrise:hover {
  color: #e0a607;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.849);
}
#sunUp {
  font-family: "Prata", sans-serif;
  position: relative;
  right: -1px;
}
#sunset {
  font-family: "Prata", sans-serif;
  font-size: 13px;
  position: relative;
  right: -7px;
}
#sunset:hover {
  color: #ec7036;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.849);
}
#sunDown {
  font-family: "Prata", sans-serif;
  position: relative;
  right: -4px;
}
#weatherDescription {
  text-transform: capitalize;
  font-family: "Prata", sans-serif;
  font-size: 20px;
  position: relative;
  left: -27px;
  text-shadow: 1px 1px 10px rgba(252, 252, 252, 0.6);
  display: inline;
}

#weather-icon {
  height: 100px;
  width: 100px;
  position: relative;
  left: -40px;
}

.weatherForecast {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  width: 100%;
  padding: 10px 0px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
}

.dayForecast {
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  width: 102px;
  padding: 10px 0px;
  margin-right: 0px;
  margin-left: 0px;
  background: rgb(130, 167, 190);
  opacity: 90%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: -20px;
  cursor: url("https://static.tumblr.com/z7e2cpq/PtZlllqc9/ponteiro_azul.png"),
    auto;
  font-family: "Prata", sans-serif;
}
.dayForecast:hover {
  box-shadow: 4px 1px 15px rgba(255, 255, 255, 0.9);
  transition: all 200ms ease;
}

#weather-forecast-temperature-min {
  opacity: 0.5;
}

#weather-forecast-temperature-max {
  color: red;
}
.weatherForecast-temperatures {
  font-size: 13px;
}

.code-link {
  text-align: center;
}

.name {
  color: aliceblue;
  font-family: "Prata", sans-serif;
}
